.profile {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  display: flex;
}
@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
  }
}
.profile__column-left {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}
.profile__column-right {
  width: 100%;
  position: relative;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.profile__card-avatar {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  border-top: 1px solid #0069d9;
}
.profile__card-info {
  position: relative;
  width: 100%;
  perspective: 1000px;
}
.profile__card-info--data {
  position: absolute;
  width: 100%;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  border-top: 1px solid #0069d9;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.5s ease-in-out;
}
.profile__card-info--data.visible {
  transform: rotateY(0deg);
}
.profile__card-info--edit {
  position: absolute;
  width: 100%;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  border-top: 1px solid #0069d9;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.5s ease-in-out;
}
.profile__card-info--edit #close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 1.3rem;
}
.profile__card-info--edit.visible {
  transform: rotateY(360deg);
}
.profile__card-info--edit--form-group {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profile__card-info--edit--form-group label {
  font-size: 1rem;
}
@media screen and (max-width: 500px) {
  .profile__card-info--edit--form-group label {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  .profile__card-info--edit--form-group {
    width: 100%;
  }
}
.profile__card-info--edit form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile__card-info--edit--set-input {
  height: 30px;
  width: 70%;
  margin: 0.5rem 0;
  padding: 0.1rem 0.5rem;
}
.profile__card-info--edit--set-save {
  cursor: pointer;
  height: 30px;
  width: 50%;
  margin: 0.5rem 0;
  padding: 0.1rem 0.5rem;
  border: none;
  border-radius: 5px;
  background: var(--color-success);
  color: #fff;
}
.profile__card-info--edit--set-save:disabled {
  background: var(--color-grey);
}
.profile__card-info--edit--delete {
  cursor: pointer;
  height: 30px;
  width: 50%;
  margin: 0.5rem 0;
  padding: 0.1rem 0.5rem;
  border: none;
  border-radius: 5px;
  background: var(--color-danger);
  color: #fff;
}
.profile__user-login {
  font-family: var(--text-font);
  text-align: center;
}
.profile__user-fio {
  font-family: var(--text-font);
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid #869099;
}
@media screen and (max-width: 500px) {
  .profile__user-fio {
    /* font-size: 1.1rem; */
  }
}
.profile__user-other-info {
  /* padding: 15px 0; */
  margin-top: 15px;
  font-family: var(--text-font);
  font-weight: 400;
  /* font-size: 1.1rem; */
}
@media screen and (max-width: 500px) {
  .profile__user-other-info {
    font-size: 0.95rem;
  }
}
.profile__edit_user-info {
  height: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  background: #0069d9;
  color: #fff;
  /* font-family: var(--text-font); */
  font-size: 1rem;
  font-weight: 100;
  transition: background 0.3s ease-out;
}
.profile__edit_user-info.invisible-btn {
  background: #9aaec0;
}