@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;400;500&family=Grape+Nuts&display=swap");
:root {
  --header-font: 'Grape Nuts', cursive;
  --text-font: 'Anek Devanagari', sans-serif;
  --main-font: 'Montserrat', sans-serif;
  --color-w: #fff;
  --color-l: #F5EBF4;
  --color-a: #B3A17A;
  --color-m: #7BADC3;
  --color-n: #8A7D87;
  --color-d: #2B556D;
  --color-b: #000;
  --color-success: #4F8A10;
  --color-bg: var(--color-l);
  --color-light: var(--color-w);
  --color-header: var(--color-m);
  --login-page-image-desktop: url("/templates/img/lockscreen-desk.jpg");
  --login-page-image-mobile: url("/templates/img/Mobile-lockscreen-bg.jpg");
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--color-bg);
}

.page-title {
  font-family: var(--main-font);
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--color-d);
  text-align: center;
}

.page-title-login {
  font-family: var(--main-font);
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--color-d);
  text-align: center;
  margin-top: 13px;
}

.container {
  width: 375px;
  margin: 0 auto;
  background: var(--color-w);
}

.header {
  background: var(--color-m);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  font-family: var(--main-font);
  font-size: 1.5rem;
  /* 1rem = 16px */
  font-weight: 500;
  color: var(--color-w);
}

.header i {
  font-size: 24px;
  margin-right: 15px;
  color: var(--color-w);
}

.header a {
  text-decoration: none;
  color: var(--color-l);
  -webkit-transition: color .2s;
  transition: color .2s;
}

.header a:hover {
  color: var(--color-w);
}

.main {
  padding: 15px;
}

.main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main form input[type=text] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: var(--color-w);
  border: none;
  padding: 12px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px var(--color-m);
          box-shadow: 0 0 15px var(--color-m);
}

.main form button {
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  background: var(--color-m);
  color: var(--color-w);
  font-size: 24px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.main form button:hover {
  background: var(--color-n);
}

hr {
  background: var(--color-m);
  height: 2px;
  border: none;
}

.block-notes {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-notes .note {
  margin: 6px 0;
  color: var(--color-d);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-notes .note .note-l a {
  text-decoration: none;
  color: var(--color-d);
  cursor: pointer;
  font-size: 18px;
  margin-left: 4px;
  position: relative;
}

.block-notes .note .note-l a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: var(--color-d);
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.block-notes .note .note-l a:hover::before {
  width: 100%;
}

.block-notes .note .note-del {
  cursor: pointer;
}

.block-notes .note .note-del a {
  text-decoration: none;
  color: var(--color-d);
  -webkit-transition: color .2s;
  transition: color .2s;
}

.block-notes .note .note-del a:hover {
  color: #961010;
}

.block-notes .page-pagination {
  display: none;
}

.block-notes .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edit-note {
  padding: 15px;
}

.edit-note form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0px;
}

.edit-note form textarea {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid var(--color-d);
  border-radius: 5px;
}

.edit-note form button {
  padding: 8px 10px;
  border: none;
  background: var(--color-success);
  color: var(--color-l);
  border-radius: 5px;
}

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.login-page .overlay {
  position: absolute;
  width: 100wv;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #258ceb;
  background: linear-gradient(135deg, var(--color-d) 0%, var(--color-m) 40%, var(--color-l) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 1;
}

.login-page .overlay .sitename {
  font-family: var(--main-font);
  font-size: 5rem;
  font-weight: 600;
  color: #000;
}

.login-page .overlay .date-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-family: var(--main-font);
  color: var(--color-d);
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.login-page .overlay .date-time.invisible {
  opacity: 0;
}

.login-page .overlay .time {
  font-size: 5rem;
  font-weight: 600;
}

.login-page .overlay .date {
  font-size: 1.5rem;
}

.login-page .overlay.active {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -1;
}

.login-page .login {
  width: 320px;
  height: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.493);
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.login-page .login.active {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.login-page form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.login-page form input[type=text] {
  margin-bottom: 8px;
  padding: 8px 10px;
  background: var(--color-w);
  border: 1px solid var(--color-d);
  border-radius: 5px;
}

.login-page form input[type=password] {
  margin-bottom: 8px;
  padding: 8px 10px;
  background: var(--color-w);
  border: 1px solid var(--color-d);
  border-radius: 5px;
}

.login-page form span {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: red;
}

.login-page form button {
  padding: 8px 10px;
  padding: 8px 10px;
  border: none;
  background: var(--color-success);
  color: var(--color-l);
  border-radius: 5px;
}

.register-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.register-page .overlay {
  position: absolute;
  width: 100wv;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #258ceb;
  background: linear-gradient(135deg, var(--color-d) 0%, var(--color-m) 40%, var(--color-l) 100%);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -1;
}

.register-page .register {
  width: 320px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.493);
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.register-page .register form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.register-page .register form input[type=text] {
  margin-bottom: 8px;
  padding: 8px 10px;
  background: var(--color-w);
  border: 1px solid var(--color-d);
  border-radius: 5px;
}

.register-page .register form input[type=password] {
  margin-bottom: 8px;
  padding: 8px 10px;
  background: var(--color-w);
  border: 1px solid var(--color-d);
  border-radius: 5px;
}

.register-page .register form span {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: red;
}

.register-page .register form button {
  padding: 8px 10px;
  padding: 8px 10px;
  border: none;
  background: var(--color-success);
  color: var(--color-l);
  border-radius: 5px;
}

.register-page .register form button:disabled {
  background: grey;
}

.footer {
  padding: 5px 15px;
}
