@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;400;500&family=Grape+Nuts&display=swap");
:root {
  --header-font: 'Grape Nuts', cursive;
  --text-font: 'Anek Devanagari', sans-serif;
  --main-font: 'Montserrat', sans-serif;
  --color-w: #fff;
  --color-l: #F5EBF4;
  --color-a: #B3A17A;
  --color-m: #7BADC3;
  --color-n: #8A7D87;
  --color-d: #2B556D;
  --color-b: #000;
  --color-success: #4F8A10;
  --color-bg: var(--color-l);
  --color-light: var(--color-w);
  --color-header: var(--color-m);
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--color-bg);
}

.page-title {
  font-family: var(--main-font);
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--color-d);
  text-align: center;
}

.page-title-login {
  font-family: var(--main-font);
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--color-d);
  text-align: center;
  margin-top: 13px;
}

.container {
  width: 375px;
  margin: 0 auto;
  background: var(--color-w);
}

.container .header {
  background: var(--color-m);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  font-family: var(--main-font);
  font-size: 1.5rem;
  /* 1rem = 16px */
  font-weight: 500;
  color: var(--color-w);
}

.container .header i {
  font-size: 24px;
  margin-right: 15px;
  color: var(--color-w);
}

.container .header a {
  text-decoration: none;
  color: var(--color-l);
  -webkit-transition: color .2s;
  transition: color .2s;
}

.container .header a:hover {
  color: var(--color-w);
}

.container .main {
  padding: 15px;
}

.container .main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main form input[type=text] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: var(--color-w);
  border: none;
  padding: 12px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px var(--color-m);
          box-shadow: 0 0 15px var(--color-m);
}

.container .main form button {
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  background: var(--color-m);
  color: var(--color-w);
  font-size: 24px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.container .main form button:hover {
  background: var(--color-n);
}

.container hr {
  background: var(--color-m);
  height: 2px;
  border: none;
}

.container .block-notes {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .block-notes .note {
  margin: 6px 0;
  color: var(--color-d);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .block-notes .note .note-l a {
  text-decoration: none;
  color: var(--color-d);
  cursor: pointer;
  font-size: 18px;
  margin-left: 4px;
  position: relative;
}

.container .block-notes .note .note-l a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: var(--color-d);
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.container .block-notes .note .note-l a:hover::before {
  width: 100%;
}

.container .block-notes .note .note-del {
  cursor: pointer;
}

.container .block-notes .note .note-del a {
  text-decoration: none;
  color: var(--color-d);
  -webkit-transition: color .2s;
  transition: color .2s;
}

.container .block-notes .note .note-del a:hover {
  color: #961010;
}

.container .block-notes .page-pagination {
  display: none;
}

.container .block-notes .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .edit-note {
  padding: 15px;
}

.container .edit-note form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0px;
}

.container .edit-note form textarea {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid var(--color-d);
  border-radius: 5px;
}

.container .edit-note form button {
  padding: 8px 10px;
  border: none;
  background: var(--color-success);
  color: var(--color-l);
  border-radius: 5px;
}

.container .login-page form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.container .login-page form input[type=text] {
  margin-bottom: 8px;
  padding: 8px 10px;
  background: var(--color-w);
  border: 1px solid var(--color-d);
  border-radius: 5px;
}

.container .login-page form input[type=password] {
  margin-bottom: 8px;
  padding: 8px 10px;
  background: var(--color-w);
  border: 1px solid var(--color-d);
  border-radius: 5px;
}

.container .login-page form span {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: red;
}

.container .login-page form button {
  padding: 8px 10px;
  padding: 8px 10px;
  border: none;
  background: var(--color-success);
  color: var(--color-l);
  border-radius: 5px;
}

.container .footer {
  padding: 5px 15px;
}
