@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;400;500&family=Grape+Nuts&display=swap');

:root {
    --header-font: 'Grape Nuts', cursive;
    --text-font: 'Anek Devanagari', sans-serif;
    --main-font: 'Montserrat', sans-serif;

    --color-w: #fff;
    --color-l: #F5EBF4;
    --color-a: #B3A17A;
    --color-m: #7BADC3;
    --color-n: #8A7D87;
    --color-d: #2B556D;
    --color-b: #000;
    --color-success: #4F8A10;

    --color-bg: var(--color-l);
    --color-light: var(--color-w);
    --color-header: var(--color-m);
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--color-bg);
}

.page-title {
    font-family: var(--main-font);
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--color-d);
    text-align: center;
}

.container {
    width: 375px;
    margin: 0 auto;
    background: var(--color-w);
    
    .header {
        background: var(--color-m);
        padding: 15px;
        display: flex;

        h1 {
            text-align: left;
            font-family: var(--main-font);
            font-size: 1.5rem; /* 1rem = 16px */
            font-weight: 500;
            color: var(--color-w);
        }

        i {
            font-size: 24px;
            margin-right: 15px;
            color: var(--color-w);
        }
    }

    .main {
        padding: 15px;

        form {
            display: flex;
            align-items: center;

            input[type=text]{
                flex: 1;
                background-color: var(--color-w);
                border: none;
                padding: 12px 10px;
                border-radius: 5px;
                box-shadow: 0 0 15px var(--color-m);
            }

            button {
                cursor: pointer;
                border: none;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-left: 10px;
                background: var(--color-m);
                color: var(--color-w);
                font-size: 24px;
                transition: background 0.3s;
                &:hover {
                    background: var(--color-n);
                }
            }
        }
    }

    hr {
        background: var(--color-m);
        height: 2px;
        border: none;
    }

    .block-notes {
        padding: 15px;
        display: flex;
        flex-direction: column;

        .note {
            margin: 6px 0;
            color: var(--color-d);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .note-l {
                a {
                    text-decoration: none;
                    color: var(--color-d);
                    cursor: pointer;
                    font-size: 18px;
                    margin-left: 4px;
                    position: relative;
    
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0; left: 0;
                        width: 0%;
                        height: 1px;
                        background: var(--color-d);
                        transition: width 0.2s;
                    }
                    
                    &:hover::before {
                        width: 100%;
                    }
                }
            }
            .note-del {
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: var(--color-d);
                    transition: color .2s;
                    &:hover {
                        color: rgb(150, 16, 16);
                    }
                }
            }
        }
    }

    .edit-note {
        padding: 15px;
        
        form {
            display: flex;
            flex-direction: column;
            margin: 10px 0px;
            textarea {
                margin-bottom: 5px;
                padding: 5px;
                border: 1px solid var(--color-d);
                border-radius: 5px;
            }
            button {
                padding: 8px 10px;
                border: none;
                background: var(--color-success);
                color: var(--color-l);
            }
        }
    }

    .login-page {
        form {
            display: flex;
            flex-direction: column;

            margin: 15px;

            input[type=password] {
                margin-bottom: 8px;
                padding: 8px 10px;
                background: var(--color-w);
                border: 1px solid var(--color-d);
                border-radius: 5px;
            }
            button {
                padding: 8px 10px;
                padding: 8px 10px;
                border: none;
                background: var(--color-success);
                color: var(--color-l);
                border-radius: 5px;
            }
        }
    }
    .footer {
        padding: 5px 15px;
    }
}