@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;400;500&family=Grape+Nuts&display=swap");
:root {
  --header-font: 'Grape Nuts', cursive;
  --text-font: 'Anek Devanagari', sans-serif;
  --main-font: 'Montserrat', sans-serif;
  --color-white: #fff;
  --color-light: #e9ecef;
  --color-grey: #495057;
  --color-main: #7BADC3;
  --color-second: #8A7D87;
  --color-dark: #2B556D;
  --color-black: #000;
  --color-success: #4F8A10;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--color-light);
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.login-page {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-font);
}

.login-page__box {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-page__title {
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: 0.9rem;
  text-align: center;
}

.login-page__title span {
  color: var(--color-grey);
}

.login-page__card {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--color-white);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.login-page_msg {
  padding: 0 20px 20px;
}

.login-page form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-page form input {
  margin-bottom: 10px;
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0 0.75rem;
  font-size: 1rem;
  color: var(--color-grey);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-box-shadow: inset 0 0 0 transparent;
          box-shadow: inset 0 0 0 transparent;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.login-page form button {
  padding: 0.375rem 0.75rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 0.25rem;
  -webkit-transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
  transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
}

.login-page form button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.register-page {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-font);
}

.register-page .register {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.register-page .register .page-title-login {
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: 0.9rem;
  text-align: center;
}

.register-page .register form {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--color-white);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.register-page .register form input {
  margin-bottom: 10px;
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0 0.75rem;
  font-size: 1rem;
  color: var(--color-grey);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-box-shadow: inset 0 0 0 transparent;
          box-shadow: inset 0 0 0 transparent;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.register-page .register form #btn-reg {
  padding: 0.375rem 0.75rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 0.25rem;
  -webkit-transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
  transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
}

.register-page .register form #btn-reg:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 250px;
  text-decoration: none;
  background-color: #343a40;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: width .3s ease-in-out, opacity .3s ease-in-out;
  transition: width .3s ease-in-out, opacity .3s ease-in-out;
}

@media screen and (max-width: 991px) {
  .sidebar {
    width: 0;
    opacity: 0;
  }
}

.sidebar.active {
  width: 250px;
  opacity: 1;
}

.sidebar__site-title {
  display: block;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0.8125rem 0.5rem;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  white-space: nowrap;
  border-bottom: 1px solid #4b545c;
  color: rgba(255, 255, 255, 0.8);
}

.sidebar__site-title img {
  float: left;
  line-height: .8;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
  margin-top: -3px;
  max-height: 33px;
  width: auto;
}

.sidebar__content {
  height: calc(100% - (3.5rem + 1px));
  overflow-y: auto;
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0;
}

.sidebar__user-panel {
  padding: 16px 0;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #4f5962;
}

.sidebar__user-image {
  display: inline-block;
  padding-left: 0.8rem;
}

.sidebar__user-image img {
  border-radius: 50%;
  height: auto;
  width: 2.1rem;
}

.sidebar__user-info {
  padding: 5px 5px 5px 10px;
}

.sidebar__user-info a {
  color: #c2c7d0;
  text-decoration: none;
}

.sidebar__menu-item {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.sidebar__menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar__menu-item:hover > .sidebar__menu-link {
  color: #fff;
}

.sidebar__menu-link {
  text-decoration: none;
  color: #c2c7d0;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper__content {
  width: 100%;
  margin-left: 250px;
  -webkit-transition: margin-left .3s ease-in-out;
  transition: margin-left .3s ease-in-out;
}

@media screen and (max-width: 991px) {
  .wrapper__content {
    margin-left: 0;
  }
}

.wrapper__content.sidebar--active {
  margin-left: 250px;
}

.navbar {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dee2e6;
  background: var(--color-white);
}

.navbar__link {
  position: relative;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--color-grey);
  margin-right: 15px;
}

.navbar #sidebarControl span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 1px;
  background: #000;
}

.navbar #sidebarControl span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 1px;
  background: #000;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.navbar #sidebarControl span::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 1px;
  background: #000;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.content {
  padding: 15px 0.5rem;
}

.content-wrapper {
  min-height: calc(100vh - 57px - 54px);
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .content-wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}

.content-header {
  padding: 15px 0.5rem;
}

.content-header h1 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

.profile {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__column-left {
  margin-right: 10px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align-items: center; */
}

.profile__column-right {
  width: 100%;
  position: relative;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align-items: center; */
}

.profile__card-avatar {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  border-top: 1px solid #0069d9;
}

.profile__card-info {
  width: 100%;
  padding: 15px;
  /* display: none; */
  background: #fff;
  border-radius: 5px;
  border-top: 1px solid #0069d9;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: opacity 0.3s ease-in-out, display 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, display 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, display 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, display 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.profile__card-info.visible {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  /* display: block; */
}

.profile__card-info-edit {
  width: 100%;
  padding: 15px;
  /* display: none; */
  background: #fff;
  border-radius: 5px;
  border-top: 1px solid #0069d9;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: opacity 0.3s ease-in-out, display 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, display 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, display 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, display 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.profile__card-info-edit.visible {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  /* display: block; */
}

.profile__card-info-edit--form-group {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__card-info-edit form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__card-info-edit--set-input {
  height: 30px;
  width: 70%;
  margin: 0.5rem 0;
  padding: 0.1rem 0.5rem;
}

.profile__card-info-edit--set-save {
  height: 30px;
  width: 50%;
  margin: 0.5rem 0;
  padding: 0.1rem 0.5rem;
  border: none;
  border-radius: 5px;
  background: var(--color-success);
  color: #fff;
}

.profile__user-login {
  font-family: var(--text-font);
  text-align: center;
}

.profile__user-fio {
  font-family: var(--text-font);
  font-size: 1.5rem;
  font-weight: 500;
  /* padding-bottom: 15px; */
  border-bottom: 1px solid #869099;
}

.profile__user-other-info {
  padding: 15px 0;
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 1.1rem;
}

.profile__edit_user-info {
  height: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 3px;
  background: #0069d9;
  color: #fff;
  /* font-family: var(--text-font); */
  font-size: 1rem;
  font-weight: 100;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.profile__edit_user-info.invisible-btn {
  background: #9aaec0;
}

.notes {
  padding: 0 0.5rem;
}

.notes__create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notes__input {
  height: 35px;
  width: 100%;
}

.notes__input input {
  height: 100%;
  width: 100%;
  padding: 0 0.5rem;
  border: 1px solid #0069d9;
  border-radius: 5px;
}

.notes__submit {
  height: 35px;
  width: 70px;
  margin-left: 10px;
}

.notes__submit button {
  height: 100%;
  width: 100%;
  background: #0062cc;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.notes #show-all-notes {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #111827;
}

.notes #show-all-notes p {
  margin: 0px 1rem;
}

.notes #show-all-notes .switch-btn {
  display: inline-block;
  width: 72px;
  /* ширина */
  height: 38px;
  /* высота */
  border-radius: 19px;
  /* радиус скругления */
  background: #bfbfbf;
  /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  /* анимация */
}

.notes #show-all-notes .switch-btn::after {
  content: "";
  height: 32px;
  /* высота кнопки */
  width: 32px;
  /* ширина кнопки */
  border-radius: 17px;
  background: #fff;
  /* цвет кнопки */
  top: 3px;
  /* положение кнопки по вертикали относительно основы */
  left: 3px;
  /* положение кнопки по горизонтали относительно основы */
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  /* анимация */
  position: absolute;
  z-index: 1;
}

.notes #show-all-notes .switch-on {
  background: #118c4e;
}

.notes #show-all-notes .switch-on::after {
  left: 37px;
}

.notes__content {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(100, 116, 139, 0.06), 0px 1px 2px rgba(100, 116, 139, 0.1);
          box-shadow: 0px 1px 1px rgba(100, 116, 139, 0.06), 0px 1px 2px rgba(100, 116, 139, 0.1);
  border-radius: 8px;
}

.notes__title {
  margin: 16px;
  /* font-family: var(--text-font); */
  font-size: 18px;
  color: #111827;
}

.notes__list {
  padding-left: 16px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.notes__list.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notes__list_head {
  height: 50px;
  padding-left: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F3F4F6;
}

.notes__list_item {
  height: 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--text-font);
}

.notes__name {
  font-family: var(--text-font);
  font-weight: 600;
  font-size: 1rem;
}

.notes__date {
  font-size: 14px;
}

.notes__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notes__btn--edit {
  text-decoration: none;
  height: 30px;
  width: 160px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #ffc107;
  border-radius: 5px;
}

.notes__btn--delete {
  text-decoration: none;
  height: 30px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #dc3545;
  border-radius: 5px;
}

.note-header {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.note-content {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.note__edit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.note__text {
  max-width: 500px;
  height: 300px;
}

.note__text textarea {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  resize: none;
  border: 1px solid #0062cc;
  border-radius: 3px;
}

.note__submit {
  height: 35px;
  width: 150px;
  margin-top: 10px;
}

.note__submit button {
  height: 100%;
  width: 100%;
  color: #fff;
  background: #0062cc;
  border: none;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__title {
  width: 1152px;
  height: 100px;
  font-weight: 700;
  font-size: 30px;
  line-height: 137.5%;
  text-align: center;
  color: #111827;
}

.error img {
  height: auto;
  width: 70%;
}

.error__back {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  width: 235px;
  height: 48px;
  background: #5048E5;
  border-radius: 8px;
  color: #fff;
}

.main-footer {
  background: #fff;
  border-top: 1px solid #dee2e6;
  color: #869099;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
